name: GitHub Profile Summary Cards

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:     # manual trigger

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: Yugenjr
          THEME: solarized_dark
